@import "../../sass/variables";

.images-box {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
}