@import "../../sass/variables";

.images-gallery {
    z-index: 100;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display:grid;
    grid-template-columns: 1fr 550px 1fr;
    grid-template-rows: 60px min-content 15vh;
    align-items: flex-start;
    justify-content: center;

    &__icon__close {
        z-index: 101;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        height: 30px;
        width: 30px;
        justify-self: flex-end;
        cursor: pointer;
    }

    &.images-box__main__img {
        z-index: 101;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    &.images-box__main__btn__next, &.images-box__main__btn__prev {
        z-index: 10020;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        z-index: 120;
        align-self: center;
    }

    &.images-box__main__btn__next {
        right: -26px;
        z-index: 10020;
    }

    &.images-box__main__btn__prev {
        left: -26px;
        z-index: 10020;
    }

    &__mini {
        z-index: 101;
        z-index: 1010;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        align-self: flex-end;
        display: flex;
        justify-content: center;

        &.images-box__mini__item {
            margin: 1rem;
            cursor: pointer;
            transition: all 0.2s;

            &:active {
                transform: translateY(0.2rem);
            }
        }
    }
}
