@import "../../sass/variables";

.product-details {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 2rem 2rem 8rem 8rem 4rem 2rem 6rem;
    align-items: flex-end;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        grid-row: 2 / 9;
        grid-template-rows: auto;
    }

    @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-row: 2 / 9;
         grid-template-rows: auto;
    }

    &__category {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        color: $primary-color;
        opacity: 0.8;
        text-transform: uppercase;
        font-weight: $font-weight-strong;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }
    }

    &__name {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        color: $very-dark-blue;
        font-size: 250%;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
    }

    &__description {
        color: $dark-grayish-blue;
        line-height: 2rem;
        grid-row: 4 / 5;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 4 / 5;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
            grid-row: 4 / 5;
        }
    }
    
    &__price-discount {
        grid-row: 5 / 6;
        display: flex;
        align-items: center;
        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 3;
            grid-row: 5 / 6;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / 3;
            grid-row: 5 / 6;
        }
    }

    &__net_price {
        font-size: 180%;
        color: $very-dark-blue;
        font-weight: $font-weight-strong;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
    }

    &__discount {
        display: flex;
        background-color: $secondary-color;
        opacity: 0.8;
        height: 30px;
        width: 40px;
        padding: 0px 6px;
        border-radius: 5px;
        margin-left: 1.5rem;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 3;
            grid-row: 5 / 6;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }

        &__text {
            font-size: 110%;
            color: $primary-color;
            font-weight: $font-weight-strong;  
        }
    }

    &__base_price {
        grid-row: 6 / 7;
        color: $grayish-blue;
        text-decoration: line-through;
        font-weight: $font-weight-strong;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        grid-row: 7 / 8;
        grid-column: 1 / -1;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            justify-content: center;
        }

       & .btn__qty {
           margin-right: 2rem;
       }
    }
}

