@import "../../sass/variables";

.product-page {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 12rem calc(50% - 13rem) 8rem 1fr 12rem;
    grid-template-rows: 5rem auto 6rem;

    @media only screen and (max-width: $bp-medium-high) {
        grid-template-columns: 10rem calc(50% - 10rem) 5rem 1fr 10rem;
        font-size: 90%;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 3rem repeat(2, calc(50% - 3rem)) 3rem;
        grid-template-rows: min-content 1.5rem 3rem 4rem 6rem 4rem 4rem 1fr;
        justify-content: flex-start;
        font-size: 100%;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content 1.5rem 3rem 4rem 3rem 2rem 2rem 1fr;
        justify-content: flex-start;
    }
}
